@charset "UTF-8";

/*
verde: #49a09d
lilas: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;

}

main {
    height: 100vh;
    width: 100vw;

    position: relative;
}

section.login {
    background-color: white;
    height: 500px;
    width: 250px;

    position: absolute;
    top: 50%;
    left: 50%;
   

    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.513);

    transform: translate(-50%, -50%);
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
div.imagem {
    display: block;

    background: #5f2c82 url(../imagens/pexels-danila-rusanov-68267594-9228600.jpg) no-repeat left center;
    background-size: cover;

    height: 200px;
}

div.formulario {
    display: block;
    padding: 10px;
}

div.formulario > h1 {
    text-align: center;
    margin-bottom: 5px;
}

div.formulario > p {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 17px;
}

form > div.campo {
    background-color: #5f2c82;
    color: white;
    
    margin-bottom: 5px;

    border-radius: 10px;
}

div.campo > span {
    vertical-align: bottom;
    text-align: center;
    font-size: 2em;
    width: 40px;
    margin-right: -6px;
    
}

div.campo > input {
    background-color: #a4f6f3;
    height: 100%;
    width: calc(100% - 39px);
    font-size: 1em;
    padding: 5px;

    border-radius: 10px;
    border: 3px  solid #5f2c82;
    
    
}

div.campo > input:focus-within {
    background-color: white;
}

div.campo > label {
    display: none;
}

form > input[type="submit"] {
    display: block;
    width: 100%;
    height: 40px;
   

    font-size: 1em;
    cursor: pointer;

    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 10px;
}

form > input[type="submit"]:hover {
    background-color: #357170;
}

.botao {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    

    font-size: 1em;
    text-align: center;
    text-decoration: none;

    color: #234d4b;

    border: 1px solid #49a09d;
    border-radius: 10px;
}

.botao:hover {
    background-color: #64dcd8;
}


